@charset "UTF-8";

#steven-button {
	position: absolute;
	left: 955px;
	top: 504px;
}
#container {
	width: 1280px;
	height: 768px;
	margin: 0 auto;
	align-content: center;
}
iframe {
	width: 1280px;
	height: 768px;
	display: block;
	margin: 0 auto;
	border: 0;
}

#steven-jump {
	position: absolute;
	right: 762px;
	top: 254px;
	height: 450px;
	width: auto;
}
#steven-speech {
	position: absolute;
	left: 572px;
	top: 135px;
}
#next-button {
	position: absolute;
	left: 1000px;
	top: 506px;
}
#sure-button {
	position: absolute;
	left: 955px;
	top: 504px;
}
p1 {
	font-size: 50px;
	font-family: 'Concert One', cursive;
	width: 600px;
	position: absolute;
	left: 598px;
	top: 169px;
}
p2 {
	font-size: 45px;
	font-family: 'Concert One', cursive;
	width: 600px;
	position: absolute;
	left: 598px;
	top: 169px;
}
#amethyst-temple {
	position: absolute;
	left: 89px;
	top: 9px;
}
#garnet-temple {
	position: absolute;
	left: 451px;
	top: 10px;
}
#pearl-temple {
	position: absolute;
	left: 822px;
	top: 9px;
}
#amethystarmpit {
	position: absolute;
	left: 62px;
	top: 237px;
}
#popupbio {
	position: absolute;
	left: 8px;
	top: 8px;
}
p-meetgem {
	position: absolute;
	font-size: 70px;
	font-family: 'Concert One', cursive;
	width: 524px;
	left: 151px;
	top: 86px;
}
p-bio {
	position: absolute;
	font-size: 40px;
	font-family: 'Concert One', cursive;
	width: 585px;
	left: 153px;
	top: 151px;
	height: 436px;
}
#back-button {
	position: absolute;
	width: 250px;
	height: auto;
	left: 905px;
	top: 556px;
}
#amethysttwerk {
	position: absolute;
	left: 702px;
	top: 85px;
	width: 475px;
	height:auto;
}
#garnetcrab {
	position: absolute;
	left: 663px;
	top: 114px;
	height: 294px;
	width: auto;
}
#pearlbiogif {
	position: absolute;
	height: 500px;
	width: auto;
	left: 670px;
	top: -58px;
}
#amethystspeech {
	position: absolute;
	width: 725px;
	height: 3.479in;
	left: 498px;
	top: 51px;
}
p3 {
	font-size: 45px;
	font-family: 'Concert One', cursive;
	width: 677px;
	position: absolute;
	left: 520px;
	top: 78px;
}
#amethystgrin {
	position: absolute;
	top: 224px;
	left: 44px;
	width: 450px;
	height: 500px;
}
#amethystpostgame {
	position: absolute;
	left: 66px;
	top: 216px;
}
p4 {
	font-size: 45px;
	font-family: 'Concert One', cursive;
	width: 677px;
	position: absolute;
	left: 521px;
	top: 70px;
}
#pearl {
	position: absolute;
	left: 736px;
	top: 10px;
}
#pearlspeech {
	position: absolute;
	left: 61px;
	top: 65px;
}
#cookiecat {
	position: absolute;
	left: 484px;
	top: 622px;
	width: 200px;
	height: auto;
}
#cheeseburger {
	position: absolute;
	left: 289px;
	top: 443px;
	width: 270px;
	height: auto;
}
#mcbear {
	position: absolute;
	left: 239px;
	top: 577px;
	width: 179px;
	height: auto;
}

#cheeseballs {
	position: absolute;
	left: 187px;
	top: 563px;
	width: auto;
	height: 162px;
}
#phone {
	position: absolute;
	width: auto;
	top: 625px;
	height: 118px;
	left: 477px;
}
p5 {
	font-size: 45px;
	font-family: 'Concert One', cursive;
	width: 602px;
	position: absolute;
	left: 94px;
	top: 74px;
}
#pearlballet {
	position: absolute;
	left: 710px;
	top: 22px;
	width: auto;
	height: 740px;
}
.opencheeseburger {
	position: absolute;
	left: 489px;
	top: 287px;
}
#blue {
	position: absolute;
	width: 231px;
	height: auto;
	left: 138px;
	top: 252px;
}
#yellow {
	position: absolute;
	left: 332px;
	top: 583px;
	width: auto;
	height: 162px;
}
#green {
	position: absolute;
	width: auto;
	height: 118px;
	left: 990px;
	top: 417px;
}
#red {
	position: absolute;
	width: 179px;
	height: auto;
	left: 840px;
	top: 113px;
}
#pearlbooty {
	position: absolute;
	left: 704px;
	top: 22px;
	width: auto;
	height: 700;
}
p6 {
	font-size: 40px;
	font-family: 'Concert One', cursive;
	width: 602px;
	position: absolute;
	left: 90px;
	top: 76px;
}
#garnet {
	position: absolute;
	height: 700px;
	width: inherit;
	left: 134px;
	top: 56px;
}
#garnetspeech {
	position: absolute;
	left: 548px;
	top: 56px;
}
p7 {
	font-size: 40px;
	font-family: 'Concert One', cursive;
	width: 602px;
	position: absolute;
	left: 576px;
	top: 62px;
}
#garnet-eye-game-container{
width:1280px;
height:768px;
margin:0 auto;
border:1px solid black;
overflow:hidden;
background:#FFC700;
text-align:center;
position:relative;
}
#dialog-box{
	background: url(../images/garnet-visor.png) no-repeat;
	width: 500px;
	height: 500px;
	overflow: hidden;
	position: absolute;
	top: 271px;
	left: 750px;
	font-family: 'Concert One', cursive;
	display: none;
	text-align: center;
	font-size: 40px;
}
p8 {
	font-size: 40px;
	font-family: 'Concert One', cursive;
	width: 602px;
	position: absolute;
	left: 383px;
	top: 641px;
}
#mapspeech{
	position: absolute;
	left: 352px;
	top: 629px;
	height: 120px;
}
#world-next-button {
	position: absolute;
	left: 1026px;
	top: 528px;
}
p9 {
	font-size: 23px;
	font-family: 'Concert One', cursive;
	width: 551px;
	position: absolute;
	left: 371px;
	top: 633px;
}
p10 {
	font-size: 40px;
	font-family: 'Concert One', cursive;
	width: 602px;
	position: absolute;
	left: 576px;
	top: 72px;
}
#health {
	border: 4px solid #EF4936;
	width: 600px;
	height: 40px;
	background: #ffed00;
	overflow: hidden;
	position: absolute;
	left: 348px;
	top: 358px;
	z-index: 1;
	}
#bar{
	width: 600px;
	height: 40px;
	background: #fffcd9;
	position: absolute;
	right: -1px;
	top: 1px;
	z-index: 1;
	}
#button {
	position: absolute;
	left: 610px;
	top: 426px;
	}
#healthbarshadow {
	position: absolute;
	height: 44px;
	width: 604px;
	left: 360px;
	top: 371px;
	z-index: 0;
}
#warppad {
	z-index: -1;
}
p11 {
	font-size: 40px;
	font-family: 'Concert One', cursive;
	width: 604px;
	position: absolute;
	left: 366px;
	top: 131px;
	text-align: center;
	color: #9B8EC4;
}

p12 {
	font-size: 40px;
	font-family: 'Concert One', cursive;
	width: 604px;
	position: absolute;
	left: 363px;
	top: 128px;
	text-align: center;
	color: #EF4936;
}
p13 {
	font-size: 40px;
	font-family: 'Concert One', cursive;
	width: 604px;
	position: absolute;
	left: 360px;
	top: 125px;
	text-align: center;
	color: #ffed00;
}
#sparkles {
	width: 250px;
	height: auto;
	position: absolute;
	left: 276px;
	top: 300px;
	z-index: 0;
}
#sparkles2 {
	width: 250px;
	height: auto;
	position: absolute;
	left: 782px;
	top: 279px;
	z-index: 0;
}
#sparkles3 {
	width: 250px;
	height: auto;
	position: absolute;
	left: 515px;
	top: 217px;
	z-index: 0;
}
#warpgif {
	position: absolute;
	left: 340px;
	top: 216px;
}
p14 {
	font-size: 41px;
	font-family: 'Concert One', cursive;
	width: 604px;
	position: absolute;
	left: 341px;
	top: 581px;
	text-align: center;
	color: #F5B6FF;
}
p15 {
	font-size: 41px;
	font-family: 'Concert One', cursive;
	width: 642px;
	position: absolute;
	left: 313px;
	top: 598px;
	text-align: center;
}
#replay-button {
	width: 150px;
	height: auto;
	position: absolute;
	left: 980px;
	top: 517px;
}
